@import './node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@font-face {
    font-family: "Lishu1";
    src: url('../fonts/Lishu1.eot');
    src: url('../fonts/Lishu1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lishu1.woff') format('woff'),
         url('../fonts/Lishu1.ttf') format('truetype'),
         url('../fonts/Lishu1.svg') format('svg');
}

@font-face {
    font-family: "Lishu2";
    src: url('../fonts/Lishu2.eot');
    src: url('../fonts/Lishu2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lishu2.woff') format('woff'),
         url('../fonts/Lishu2.ttf') format('truetype'),
         url('../fonts/Lishu2.svg') format('svg');
}

#rendering {
    font-size: 222px;
    line-height: 288px;
    letter-spacing: 66px;
    padding: 0 0 0 34px;
    margin: 0 auto;
}

.font-lishu1 {
    font-family: "Lishu1";
}

.font-lishu2 {
    font-family: "Lishu2";
}

.grid-horizontal {
    background: url('../images/horizontal-grid.png');
}

.grid-diagonal {
    background: url('../images/diagonal-grid.png');
}
